$color-primary: #000;

//border-color
$border-color-primary: #aaa;
$border-color-secondary: #000;

//bg-color
$bg-primary: #fff;
$bg-footer: #484848;
$bg-modal: rgba(0, 0, 0, 0.5);

$blue-color: #00A1FF;

//text-color
$text-color-gray: #aaa;

$viewport-md: 768px;
$viewport-lg: 1200px;
$viewport-xl: 1400px;