.form {
  display: flex;
  flex-direction: column;
  gap: 15px;

  &__input {
    padding: 5px;
    border-bottom: 1px solid #AAAAAA;
  }

  &__input input::placeholder {
    color: #AAAAAA;
  }

  &__input input:focus {
    outline: none;
  }

  &__input input {
    display: block;
  }

  &__submit {
    padding: 12px 0;
    width: 100%;
    border: 1px solid #222;
    border-radius: 30px;
    margin-top: 5px;
  }

  .select {
    padding: 3px;
    position: relative;
    color: $text-color-ternary;

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
    }

    &__icon {
      margin-left: auto;
    }

    &__body {
      max-height: 0;
      overflow: hidden;    
      position: absolute;
      z-index: 5;
      left: 0;
      right: 0;
      top: 100%;
      color: $color-primary;
      border: 1px solid $border-color-primary;
      border-top: 0;
      background-color: white;
      transition: all 0.4s ease;
    }

    &__item {
      padding: 3px;
    }

    &__item:hover {
      background-color: $border-color-primary;
      cursor: pointer;
    }
  }

  .select.active .select__body {
    max-height: 300px;
    border-top: 1px solid $border-color-primary;;
  }

  .select.active .select__icon img {
    transform: rotateX(180deg);
    transition: all 0.4s ease;
  }
  .select__icon img {
    transform: rotateX(0deg);
    transition: all 0.4s ease
  }

  .form__policy {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .form__policy input {
    position: relative;
    width: 14px;
    height: 14px;
  }

  .form__policy input::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    border: 1px solid $blue-color;
    border-radius: 2px;
  }

  .form__policy input:checked::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background-image: url("../../assets/icons/check.svg");
  }
  
}