.care {
  padding: 30px 15px;

  &__wrapper {
    display: flex;
    gap: 30px;
    flex-direction: column;
  }

  &__title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__copy {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  &__copy:last-of-type {
    margin-bottom: 0;
  }

  &__image-block {
    border: 1px solid #AAA;
    border-radius: 20px;
    height: 72vw;
    overflow: hidden;
    padding: 13px 15px;
  }

  &__image-block img {
    display: block;
    height: 100%;
    object-fit: contain;
  }
}