.footer {
  padding: 30px 15px;
  color: #FFF;
  background: #484848;

  &__wrapper {
    display: grid;
    gap: 30px;
  }

  &__columns {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }

  &__logo img {
    width: 216px;
    margin-bottom: 10px;
  }

  &__copy {
    margin-bottom: 10px;
    font-size: 12px;
  }

  &__dev {
    display: flex;
    justify-content: center;
  }

  &__dev img {
    width: 130px;
  }
}