.header {
  border-bottom: 1px solid var(--border-color-secondary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 51px;

  &__wrapper {
    height: 50px;
    padding: 0 15px;
    background-color: var(--bg-color-primary);
    color: var(--);
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 77px;
    height: 30px;
    color: var(--icon-color-primary);
  }

  &__actions {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 20px;
  }

  &__lang {
    width: 50px;
    height: 30px;
    position: relative;
    display: flex;
    border: 1px solid var(--border-color-primary);
    background-color: var(--bg-color-primary);
    border-radius: 4px;
    overflow: hidden;
  }

  &__lang select {
    padding: 6px;
    height: 100%;
    width: 100%;
    color: var(--color-primary);
  }

  &__lang img {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    width: 9px;
    height: 6px;
    fill: var(--color-primary)
  }

  &__theme {
    width: 30px;
    height: 30px;
    color: var(--icon-color-primary);
  }
}